<%
    var ogTitle = undefined
    var ogDescription = undefined
    var twitterTitle = undefined
    var twitterDescription = undefined

    if(
        (typeof seo.ogTitle !== 'undefined' && seo.ogTitle) || 
        (typeof seo.title !== 'undefined' && seo.title)
    ) {
        ogTitle = seo.ogTitle ? seo.ogTitle : seo.title
        ogTitle = ogTitle.replace(/"/g, '&quot;')
    }

    if(
        (typeof seo.ogDescription !== 'undefined' && seo.ogDescription) || 
        (typeof seo.description !== 'undefined' && seo.description)
    ) {
        ogDescription = seo.ogDescription ? seo.ogDescription : seo.description
        ogDescription = ogDescription.replace(/"/g, '&quot;')
    }

    if(
        (typeof seo.twitterTitle !== 'undefined' && seo.twitterTitle) || 
        (typeof seo.title !== 'undefined' && seo.title)
    ) { 
        twitterTitle = seo.twitterTitle ? seo.twitterTitle : seo.title
        twitterTitle = twitterTitle.replace(/"/g, '&quot;')
    }

    if(
        (typeof seo.twitterDescription !== 'undefined' && seo.twitterDescription) || 
        (typeof seo.description !== 'undefined' && seo.description)
    ) { 
        twitterDescription = seo.twitterDescription ? seo.twitterDescription : seo.description
        twitterDescription = twitterDescription.replace(/"/g, '&quot;')
    }
   


%>


<!-- Encoding + Compatibility -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Title & SEO -->
<title><%= seo.title %></title>
<% if((typeof seo.description !== 'undefined' && seo.description)) { %>
    <meta name="description" content="<%= seo.description %>" />
<% } %>
<% if((typeof seo.keywords !== 'undefined' && seo.keywords)) { %>
    <meta name="keywords" content="<%= seo.keywords %>" />
<% } %>
<% if((typeof seo.author !== 'undefined' && seo.author)) { %>
    <meta name="author" content="<%= seo.author %>" />
<% } %>
<!-- Open Graph (for social previews) -->
<% if(typeof ogTitle !== 'undefined' && ogTitle) { %>
    <meta property="og:title" content="<%= ogTitle %>" />
<% } %>
<% if(typeof ogDescription !== 'undefined' && ogDescription) { %>
    <meta property="og:description" content="<%= ogDescription %>" />
<% } %>
<% if((typeof seo.ogType !== 'undefined' && seo.ogType)) { %>
    <meta property="og:type" content="<%= seo.ogType %>" />
<% } %>
<% if((typeof seo.ogUrl !== 'undefined' && seo.ogUrl)) { %>
    <meta property="og:url" content="<%= seo.ogUrl %>" />
<% } %>
<% if((typeof seo.ogImage !== 'undefined' && seo.ogImage)) { %>
    <meta property="og:image" content="<%= seo.ogImage %>" />
<% } %>
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<% if(typeof twitterTitle !== 'undefined' && twitterTitle) { %>
   <meta name="twitter:title" content="<%= twitterTitle %>" />
<% } %>
<% if(typeof twitterDescription !== 'undefined' && twitterDescription) { %>
    <meta name="twitter:description" content="<%= twitterDescription %>" />
<% } %>
<% if((typeof seo.twitterImage !== 'undefined' && seo.twitterImage)) { %>
    <meta name="twitter:image" content="<%= seo.twitterImage %>">
<% } %>
<!-- Favicon -->
<!-- Styles -->
<!-- <link rel="stylesheet" href="./src/assets/styles/main.scss"> -->