<%
// Компонент Accordion: разворачивающийся блок с заголовком и содержимым
// - Позволяет скрывать и раскрывать контент по клику на заголовок
// - Поддерживает настройку поведения, классов, иконок и структуры заголовка
// - Может содержать как текст, так и список элементов
// - Управляется через объект настроек accordion_component
//
// Использование:
//
// Accordion({
//     this: {
//		 parent: 'parentClass',
//		 class: ['childClass'],
//		 style: ['customStyle']
//	   }  
//     title: 'Подробнее' || {tag:'h1-6', label:'Подробнее'},                                          // заголовок аккордиона (строка или объект с типом и текстом)
//     body: 'Содержимое аккордиона' || [label:'Содержимое аккордиона',icon_component,link:'Ссылка'],  // контент (строка или массив объектов с label)
//     icon: 'Пример иконки',                                                                          // имя иконки после title из спрайта (опционально)
//     behaviour: 'default',                                                                           // режим поведения (например: default - одиночное раскрытие)                                                                                  
//     media: {type:'min-width' | 'max-width' | 'min-height' | 'max-height', label: '999px'}           // с какого диапазона в пикселях будет работать аккордион
// })
//
// Пример вызова в шаблоне (EJS):
//
// <\%- include('externe/components/Accordion/Accordion.ejs', {
//   accordion_component: {
//     this: {
//		 parent: 'parentClass',
//	   }  
//     title: { tag: 'h5', label: 'Заголовок' },
//     body: [
//       { label: 'СкрытаяИнформация', icon_component: {}, link: '#' }
//     ],
//     icon: 'arrow-down',
//     behaviour: 'default',
//     media: {
//      type:'min-width',
//      label: '999px'
//     }     
//   }
// }) %>
%>


<%
	if(typeof accordion_component === 'undefined' || !accordion_component) {
		return
	}

	var thisClass = 'accordion'
	if(
        (typeof accordion_component.this !== 'undefined' && accordion_component.this) &&
        (typeof accordion_component.this.parent !== 'undefined' && accordion_component.this.parent)
    ) {
		thisClass = `${accordion_component.this.parent}__accordion accordion`
	} else if(
        (typeof accordion_component.this !== 'undefined' && accordion_component.this) &&
        (typeof accordion_component.this.class !== 'undefined' && accordion_component.this.class)
    ) {
        if(typeof accordion_component.this.class === 'string') {
			thisClass = `${accordion_component.this.class} accordion`
		} else if(typeof accordion_component.this.class === 'object') {
			thisClass = `${accordion_component.this.class.join(' ')} accordion`
		}
    }

    var thisStyles = undefined
    if(
		(typeof accordion_component.this !== 'undefined' && accordion_component.this) &&
		(typeof accordion_component.this.style !== 'undefined' && accordion_component.this.style)
	) {
		if(typeof accordion_component.this.style === 'string') {
			thisStyles = `style='${accordion_component.this.style}'`
		} else if(typeof accordion_component.this.style === 'object') {
			thisStyles = `style='${accordion_component.this.style.join(' ')}'`
		}
	}

    var thisDataAttributes = 'data-fsc-accordion'
    if(typeof accordion_component.behaviour !== 'undefined' && accordion_component.behaviour) {
        thisDataAttributes += ` data-fsc-accordion-behaviour=${accordion_component.behaviour}`
    }

    var mediaVisibilityTypes = ['min-width', 'max-width', 'min-height', 'max-height']
    if(
        (typeof accordion_component.media !== 'undefined' && accordion_component.media) &&
        (typeof accordion_component.media.type !== 'undefined' && accordion_component.media.type) &&
        (typeof accordion_component.media.label !== 'undefined' && accordion_component.media.label) &&
        (mediaVisibilityTypes.includes(accordion_component.media.type))
    ) {
        thisDataAttributes += ` data-fsc-accordion-media-query='${accordion_component.media.type}: ${accordion_component.media.label}'`
    }

    if(
		(typeof accordion_component.this !== 'undefined' && accordion_component.this) &&
		(typeof accordion_component.this.dataAttribute !== 'undefined' && accordion_component.this.dataAttribute)
	) {
		if(typeof accordion_component.this.dataAttribute === 'string')
        {
            thisDataAttributes += ' ' + accordion_component.this.dataAttribute
        }
        else if(typeof accordion_component.this.dataAttribute === 'object')
        {
            thisDataAttributes += ' ' + accordion_component.this.dataAttribute.join(' ')
        }
	}
%>
<article <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisStyles%>>
    <div data-fsc-accordion-summary class="accordion__top">
            <% if(typeof accordion_component.title === 'string') { %>
                <h6 class="accordion__title">
                    <%= accordion_component.title%>
                </h6>
            <% } else if(typeof accordion_component.title === 'object') { %>
                <<%= accordion_component.title.tag%> class="accordion__title">
                    <%= accordion_component.title.label%>
                </<%= accordion_component.title.tag%>>
            <% } %>
            <% if(accordion_component.icon !== 'undefined' && accordion_component.icon) { %>
                <svg class="accordion__icon">
                    <use href="public/media/icons/sprite.svg#<%= accordion_component.icon%>"></use>                                           
                </svg>
            <% } %>
    </div>
    <ul data-fsc-accordion-body class="accordion__body"> 
        <% if(typeof accordion_component.body === 'string') { %>
            <%= accordion_component.body%>
        <% } %>
        <% if(typeof accordion_component.body === 'object') { %>
            <% for(const item of accordion_component.body) { %>
                <li>
                    <% if(item.link !== 'undefined' && item.link) { %>
                        <a href="<%= item.link%>">
                    <% } %>
                    <%= item.label %>
                    <% if(item.link !== 'undefined' && item.link) { %>
                        </a>
                    <% } %>
                </li>
            <% } %>
        <% } %>
    </ul>
</article>