<header class="header">
    <div class="header__container container">
        <div class="header__body">
            <% if(typeof header_component.homePage !== 'undefined' && header_component.homePage) { %>
                <%if(header_component.homePage === true) { %>
                    <%- include('../Image/Image.ejs', {
                        image_component: {
                            block: 'header',
                            img: {
                                src: '/media/icons/logo/logo.svg',
                                alt: 'website-logo'
                            }
                        }
                    })%>
                <% } else { %>
                    <a href="./index.html" class="header__link-logo">
                       <%- include('../Image/Image.ejs', {
                            image_component: {
                                block: 'header',
                                img: {
                                    src: '/media/icons/logo/logo.svg',
                                    alt: 'website-logo'
                                }
                            }
                        })%>
                    </a>
                <% } %>
            <% } %>
            <%- include('../HeaderMenu/HeaderMenu.ejs', {
                header_menu_component: {
                    list: [
                        {'href': '#', 'ancor': 'Services'},
                        {'href': '#', 'ancor': 'Work'},
                        {'href': '#', 'ancor': 'About'},
                        {'href': '#', 'ancor': 'Blog'},
                        {'href': '#', 'ancor': 'Pages'},
                    ]
                }
            }) %>
            <%-include('src/ejs/components/button.ejs', {
                button_component: {
                    label: 'Let’s talk',
                    style: 'alternative'
                }
            })%>
            <%- include('../Burger/Burger.ejs', {
                burger_component: {
                    block: 'header'
                }
            })%>
        </div>
    </div>
</header>