<%
    if(typeof header_menu_component === 'undefined' || !header_menu_component) {
        return
    }
        
    
%>

<div class="header__menu menu">
    <nav class="menu__body">
        <% if(typeof header_menu_component.list !== 'undefined' && header_menu_component.list) { %>
            <ul class="menu__list">
                <% for(const item of header_menu_component.list) { %>
                    <% if(typeof header_menu_component.activePage !== 'undefined' && header_menu_component.activePage) { %>
                        <% if(header_menu_component.activePage.toLowerCase() === item.anchor.toLowerCase()) { %>
                            <li class="menu__item">
                                <a href="<%= item.href %>" class="menu__link menu__link--active"><%= item.anchor %></a>
                            </li>
                        <% } else { %>
                            <li class="menu__item">
                                <a href="<%= item.href %>" class="menu__link"><%= item.anchor %></a>
                            </li>
                        <% } %>
                    <% } else { %>
                        <li class="menu__item">
                            <a href="<%= item.href %>" class="menu__link"><%= item.anchor %></a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </nav>
</div>