<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('externe/components/menu/Burger/Burger.ejs', { 
//	burger_component: {
//		this: {
//			parent: 'parentClass',
//			class: ['childClass'],
//			tag: 'button',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		}
//	}
//	}) %>
%>
<% 
    if(typeof burger_component === 'undefined' || !burger_component) {
        return
    }

    burger_component.this = {
        ...burger_component.this,
        tag: burger_component.this.tag ?? 'button'
    }
       
    var {thisClass, blockClass, thisTag, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...burger_component.this, componentName: 'burger'})

    thisDataAttributes += ' data-fsc-burger'
%>

<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisStyles%>>
    <span aria-hidden="true"></span>
</<%=thisTag%>>